* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

input{
  outline: none;
}

button{
  border: none;
  background-color: transparent;
}

.active {
  color: #61dafb;
  border-bottom: 2px solid #61dafb;
}
